* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  color: black;
  background-color: white;
}

.main-nav {
  background-color: white;
  padding: 5vh 2vw;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  z-index: 2;
  height: 7.5vh;
  border-bottom: 2px solid lightgray;
}
.nav-flex {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.nav-flex.right {
  justify-content: end;
}

.nav-item {
  padding: 2vh 2vw;
  font-weight: bold;
  font-size: medium;
  margin: auto;
}

.nav-center {
  font-weight: 900;
  font-size: 2vw;
  letter-spacing: 0.4vw;
  margin: auto;
}

.search-btn button{
  background-color: #061814;
  border: none;
  color: #fefefe;
  font-weight: bold;
  width: 4vw;
  height: 4vw;
  margin: 0 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.search-btn .fa-search {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  flex-direction: row;
}

.blog-list {
  flex: 1;
  height: 50vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.blog-list li {
  flex: 25%;
}

.blog-list li button {
  font-size: 25px;
  border: none;
  background-color: white;
}

.blog {
  flex: 5;
  padding-top: 20px;
  display: block;
  flex-direction: column;
  min-height: 90vh;

  border-right: solid 2px lightgray;
}

.blog img {
  width: 100%;
}

.blog .date {
  font-size: medium;
  color: gray;
}

.blog .heading {
  font-size: xx-large;
}

.blog-content {
  flex: 2;
  height: 65vh;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.blog-info {
  margin-top: 5vh;
}

.blog-info div {
  margin-top: 7px;
  color: gray;
}

.create-form{
  font-family: 'Roboto', sans-serif;
  margin: 12.5vh 35vw;
  padding: 1vh 1vw;
  border-radius: 10px;
  border: solid 2px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

label{
  display: block;
  font-weight: bold;
}

input, label, textarea, button{
  margin: 0.5vh 0.5vw;
  padding: 0.5vh 0.5vw;
  width: 95%;
}

input, textarea{
  border: 1px solid lightgray;
  border-radius: 5px;
}

.create-form > div{
  width: 100%;
}

.create-form h1{
  display: block;
  margin: 0vh 6vw;
  text-align: center;
}

.blog-image-form input{
  border: none;
  margin-left: 10vw;
  color: rgba(0, 0, 0, 0);
}

.blog-image-form input::file-selector-button{
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.create-form button{
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  font-weight: bold;
}

.dark-mode{
  background-color: #061814;
  color: #fefefe;
}

.dark-mode a{
  color: #fefefe;
}

.dark-mode .blog-list li button{
  background-color: #061814;
  color: #fefefe;
}

.dark-mode .main-nav{
  background-color: #061814;
}

.dark-mode .search-btn button{
  background-color: #fefefe;
  color: #061814;
}