@font-face {
    font-family: 'Carmen';
    src: url('../Freshie_recruitment/carmen-sans-cufonfonts/CarmenSans-Medium.ttf') format('truetype');
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.main-nav{
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;   
    z-index: 2;
    height: 7.5vh;
    border-bottom: 2px solid grey; 
    font-family: 'Carmen';
}
.nav-flex{
    display: flex;
    flex-direction: row;   
    font-size: 1.2vw;
}
.nav-item{
    padding: 2vh 4vw;
    font-weight: 500; 
}

.nav-center{
    font-weight: 900;
    padding: 2vh 12vw;
    font-size: 1.5vw;
    letter-spacing: .4vw;
}

.search-btn{
    background-color: black;
    width: 4vw;
    margin: 0 4vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-search{
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

.Blog {
    width: 52vw;
    height: 100vh;
    margin-top: 100px;
    margin-left: 15em;
    position: absolute;
    border: solid black 4px;
}

#blog_image{
    position: absolute;
    width: 51.5vw;
    height: 33vh;
    margin-top: 420px;
    border: solid red 4px;
}

#date{
    position: absolute;
    width: 150px;
    height: 20px;
    margin-top: 80px;
    border: solid green 4px;
}

#blog_heading{
    position: absolute;
    width: 51.5vw;
    height: 33vh;
    margin-top: 140px;
    border: solid blue 4px;
}

.blog_list{
    position: absolute;
    width: 5vw;
    height: 50vh;
    margin-top: 280px;
    margin-left: 30px;
    border: solid blue 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.blog_list li{
    flex: 25%;
    padding-top: 2vh;
}

.blog_list li button{
    border: none;
    background-color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog_content{
    position: absolute;
    width: 20vw;
    height: 65vh;
    margin-top: 360px;
    margin-left: 70vw ;
    border: solid blue 4px;
}

.Blog_info{
    position: absolute;
    width: 20vw;
    height: 25vh;
    margin-top: 0px;
    border: solid red 4px;
}

.Blog_knowledge{
    position: absolute;
    width: 20vw;
    height: 25vh;
    margin-top: 30vh;
    border: solid red 4px;
}

.Blog {
    width: 52vw;
    height: 100vh;
    margin-top: 100px;
    margin-left: 15em;
    position: absolute;
    border: solid black 4px;
}

#blog_image{
    position: absolute;
    width: 51.5vw;
    height: 33vh;
    margin-top: 420px;
    border: solid red 4px;
}

#date{
    position: absolute;
    width: 150px;
    height: 20px;
    margin-top: 80px;
    border: solid green 4px;
}

#blog_heading{
    position: absolute;
    width: 51.5vw;
    height: 33vh;
    margin-top: 140px;
    border: solid blue 4px;
}

.blog_list{
    position: absolute;
    width: 5vw;
    height: 50vh;
    margin-top: 280px;
    margin-left: 30px;
    border: solid blue 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.blog_list li{
    flex: 25%;
    padding-top: 2vh;
}

.blog_list li button{
    border: none;
    background-color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog_content{
    position: absolute;
    width: 20vw;
    height: 65vh;
    margin-top: 360px;
    margin-left: 70vw ;
    border: solid blue 4px;
}

.Blog_info{
    position: absolute;
    width: 20vw;
    height: 25vh;
    margin-top: 0px;
    border: solid red 4px;
}

.Blog_knowledge{
    position: absolute;
    width: 20vw;
    height: 25vh;
    margin-top: 30vh;
    border: solid red 4px;
}